/* Andela Level Up 35 | 
Author: City Tech Tycoon */

header{
    width: 100%;
    background-color: rgb(12, 12, 77);
    height: 60px;
    
}
body{
	max-width: 100%;
    background: black;
    font-family: 'Titillium Web', sans-serif;
}

nav{
	float: right;
    padding-right: 5px;
    

}

nav ul li{
	list-style-type: none;
	padding-left: 20px;
	text-align: right;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 35px;
    background-color: rgb(87, 55, 7);
}

nav ul li a{
	text-decoration: none;
    color: wheat;

}

.todo{
	height: 350px;
	background-color: whitesmoke;
	background-size: cover;
	margin: 1%;
}

p{
    color: black;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 20px;
}
h2{
    text-align: center;
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.partners img{
    width: 100px;
    height: auto;
    display: inline-block;
}
.partners{
    float: left;
    width: 15%;
    margin-left: 1%;
    margin-right: auto;
}

/* TABLET */
@media(max-width:768px){
    nav ul li{
        display: block;
    }
    header{
        height: 90px;
    }
    .partners{
        width: 50%;
        margin-left: 0%;
    }
}

/* MOBILE */
@media(max-width: 400px){
    nav ul li{
        display: block;
         
    }
    p{
        font-size: 20px;
    }
    .partners{
        width: 100%;
        margin-left: 40%;                    
    }
}